[Desktop Entry]
Name=BoringWM
Comment=Predictable X11 tiling window manager
Exec=/usr/local/bin/boringwm
TryExec=/usr/local/bin/boringwm
Type=Application
DesktopNames=BoringWM
X-LightDM-DesktopName=BoringWM
